html {
    background-color: rgba(96, 139, 168, .1);
}

body {
    width: 800px;
    margin: auto;
    font-family: Calibri, sans-serif;
    color: rgb(114, 114, 114);
}

body > p {
    margin-left: 260px;
    margin-bottom: -55px;
    margin-top: 35px;
}

h1 {
    margin-bottom: 0;
    margin-top: 0;
}

#title {
    display: flex;
    font-family: 'Mali', cursive;
    color: rgba(59, 84, 100, .9);
    font-size: 300%;
    border: 4px solid rgb(96, 139, 168);
    border-radius: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
}

h1::first-letter {
    color: skyblue;
}

body div {
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas:
                        "a b c"
                        "d e f";
}

body > div > p, #select {
    border: 1px solid rgb(114, 114, 114);
    border-radius: 20px;
    padding: 5px;
    justify-self: center;
}

#mp {
    grid-area: a;
}

#select {
    display: block;
    grid-area: e;
    height: 250px;
    width: 90px;
    margin-top: 0;
    text-align: center;
}

#cp, #mp {
    width: 240px;
    text-align: center;
}

#cp {
    grid-area: c;
}

#my {
    grid-area: d;
}

#computer {
    grid-area: f;
}

.sky {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr); 
    justify-self: center;
    border-radius: 10px;
    border: 4px solid black;
    height: 250px;
    width: 250px;
}

.skysquare1, .skysquare2, .skysquare3 {
    background-color: rgba(96, 139, 168, .1);
    border: 1px solid rgb(78, 111, 133);
}

.remove2 {
    display: none;
}